* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nosifer', sans-serif;
}
.bi-tornado {
    font-size: 2rem;
}
.bg-nav {
    background-color: rgb(128, 3, 3);
}
#navbar-items .navbar-nav{
    display: flex;
    justify-content: end;
    width: 100%;
}
nav span, li .nav-link {
    color: white;
}
#container-banner {
    margin-top: -1.4em;
}

 {
    font-size: 0.2rem;
}